$images-path: "../../images/";
$static-font-path: "../../vendor/SLDS/assets/fonts/webfonts";
@import "./node_modules/@salesforce-ux/design-system/scss/index.scss";

.siteHeader {
  height: 10px;
  width: 100%;
  background-color: #5c2fda;
}

#plaxHost {
  height: 2000px;
  background-color: Black;
}

#plaxHost div {
  width: 95%;
}

#plax1 {
  position: fixed;
  color:White;
  height: 2000px;
  background-image: url($images-path + "starfield.png");
  top: 0;
  left: 0;
  z-index: 1;
}
#plax2 {
  position: fixed;
  height: 2000px;
  background-image: url($images-path + "starfield.png");
  background-position: 1087px 0;
  top: 0;
  left: 0;
  z-index: 2;
}

#plax3 {
  position: fixed;
  height: 2000px;
  background-position: 577px 0;
  background-image: url($images-path + "starfield.png");
  top: 0;
  left: 0;
  z-index: 3;
}
#plax4 {
  position: fixed;
  height: 2000px;
  background-position: 337px 0;
  background-image: url($images-path + "starfield.png");
  top: 0;
  left: 0;
  z-index: 4;
}
#plax5 {
  position: fixed;
  height: 2000px;
  background-position: 145px 0;
  background-image: url($images-path + "starfield.png");
  top: 0;
  left: 0;
  z-index: 5;
}